{% extends 'public/header.html' %}
{% block content %}
<!--      按需引入-->
        {% include 'public/sub-header.html' %}
	<script>
		<!--  使得py中定义的变量在js文件中也可以使用	-->
		window.startNum = JSON.parse('{{ start_num | tojson | safe }}');
		window.endNum = JSON.parse('{{ end_num | tojson | safe }}');
		console.log("当前 startNum:", window.startNum, "endNum:", window.endNum);
	</script>
			<div class="article-container clearfix">
				<div class="left-menu fl">
					<div class="selected">
            <a href="">推荐</a>
            <a href="">{{start_num}}</a>
            <a href="">{{end_num}}</a>
          </div>
					<div><a href="">自动化测试</a></div>
					<div><a href="">Python开发</a></div>
					<div><a href="">Java开发</a></div>
					<div><a href="">功能测试</a></div>
				</div>
				<div class="article-warpper fl">
					<div class="article-inner">
            <!-- 文章数据渲染 -->
            {% for article,nickname in result %}
            <div class="article-row clearfix">
              <div class="article-header-image fl">
								<img src="{{article.article_image}}" alt="">
							</div>
							<div class="article-desc fl">
								<div class="article-name">
									<a href="/detail?article_id={{article.id}}" target="_blank">{{article.title}}</a>
								</div>
								<div class="article-info clearfix">
									<article class="article-left fl">
										<span>{{article.label}}</span>
										<span class="iconfont">{{article.browse_num}}</span>
										<span>{{nickname}}</span>
										<span>{{article.article_tag}}</span>
									</article>
									<div class="article-right fr">{{article.create_time}}</div>
								</div>
							</div>
            </div>
            {% endfor %}
			<div class = "load-more">下滑加载更多内容</div>
					</div>
				</div>
			</div>
	</body>

	<script type="text/javascript" src="/js/index.js"></script>
</html>
{% endblock %}
